{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{{ dump(topSellGames) }}

<div class="style">
    <h1>Page d'accueil</h1>

    <p>Hello world</p>
</div>
{% endblock %}
