{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}
    <div class="products">
        {% for game in games %}
            <div class="product">
                <p>Nom: {{ game.name }}</p>
                <p>Description: {{ game.description }}</p>
                <p>Prix: {{ game.price }}</p>
                <p>Stock: {{ game.stock }}</p>
            </div>
        {% endfor %}
    </div>
    <script>

{% endblock %}



