{% extends 'admin/base.html.twig' %}

{% block title %}Editer un produit{% endblock %}

{% block body %}
    <h1>Modification du produit</h1>
    {{ include('admin/product/_form.html.twig', {form: productForm, button: 'Modifier le produit'}) }}
{% endblock %}
