{% extends 'admin/base.html.twig' %}

{% block title %}Création de produit{% endblock %}

{% block body %}
    <h1>Creér un nouveau produit</h1>
    {{ include('admin/product/_form.html.twig', {form: productForm, button: 'Ajouter le produit'}) }}
{% endblock %}
