{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accès denied</h1>

    <p>
        Vous n'avez pas accès à cette partie du site <a href="{{ path('home') }}">retouner à la page d'accueil</a>.
    </p>
{% endblock %}
