{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page introuvable</h1>

    <p>
        Cette pas n'existe pas cliquez <a href="{{ path('homepage') }}">ici</a> pour retourner à la page d'accueil.
    </p>
{% endblock %}
