{% extends 'base.html.twig' %}

{% block title %}Nouvelle promotion{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle promotion</h1>

    {{ include('admin/discount/_form.html.twig', {'button_label': 'Ajouter'}) }}

{% endblock %}
